<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="/materialize/css/materialize.css" media="screen,projection" />
<link type="text/css" rel="stylesheet"
	href="/materialize/css/materialize.min.css" media="screen,projection" />
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Cadastro de Pessoas - Spring Boot MVC + Thymeleaf + JPA +
	banco PostgreSQL + Materialize Desing</title>


<style type="text/css">
table.striped>tbody>tr:nth-child(odd) {
	background-color: rgba(158, 154, 154, 0.5);
}

form input[type=submit] {
	color: white;
}
</style>

</head>
<body>
	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.js"></script>
	<h3>Cadastro de Telefones</h3>

	<a class="waves-effect waves-light btn" href="/cadastropessoa">Voltar</a>

	<div th:each="p: ${pessoaobj}">
		<div class="row">
			<p>
				ID: <span th:text="${p.id}"></span>
			</p>
		</div>
	</div>

</body>
</html>